<div class="backgroud_chat">
  <h1 class="text-white" >Real Time Chat</h1>
  <div class="chat-container">
    <div class="operational-side-chat">

      <div class="name-part-chat">
        <label for="name" class="name-part-chat-title text-white">Name</label>
        <input type="text" name="name" placeholder="name" required  id="name" class="name">
      </div>
      
      <div class="mail-part-chat">
        <label for="mail" class="mail-part-chat-title text-white">Email</label>
        <input type="text" name="mail" placeholder="email" required id="email" class="email">
      </div>
      
      <div class="message-part-chat">
        <label for="message" class="msgTitle">Message</label>
        <input type="text" name="message" placeholder="message" required id="msg" class="msg">
      </div>

      <div class="cahtBtn">
        <button onclick="sendMessage()" class="button">Send</button>
      </div>

    </div>

    <div class="view-side-chat">
        <div class="view-side-chat-title text-white">Chat</div>
        <textarea name="message" id="view" class="view">
        </textarea>
    </div>    
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/main-chat.js"></script>